.bv-navigation {
  height: 52px;
  width: 100%;
  background: #182132;
  color: #96A2B9;

  .project-icon {
    width: 260px;
    font-size: 16px;
    .bk-select.select-space.default.normal .bk-popover .bk-input{
      border: none;
      .bk-input--text{
        background-color: transparent;
      }
    }


    .bk-divider-vertical {
      margin: 0 16px;
    }
  }
  .bv-header-list{
    .nav-item{
      padding: 0 16px;
      cursor: pointer;
      &.item-active,
      &:hover{
        color: #fff;
      }
    }
  }
  .tool{
    .bk-vision-icon{
      font-size: 16px;
    }
  }
  .user .text{
    font-size: 14px;
  }
}
