// 宽高
$size-navbar-height: 60px;
$size-sidebar-width: 218px;
$size-sidebar-close-width: 0;
$size-sidebar-close-surplus: 15px;
// 字体大小
$size-first-text: 20px;
$size-important-text: 16px;
$size-normal-text: 14px;
$size-assist-text: 12px;
// 左侧导航条
$left-slider-bar-width: 288px;



// font
$font-size-mini: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-medium: 16px;
$font-size-big: 18px;
$font-size-large: 20px;
